{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profile Information</h5>
                    <p>Email: {{ user.email }}</p>
                    <p>Member since: {{ user.created_at.strftime('%B %d, %Y') }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Disease History</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Disease</th>
                                    <th>Treatment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in history[:5] %}
                                <tr>
                                    <td>{{ entry.diagnosis_date.strftime('%Y-%m-%d') }}</td>
                                    <td>{{ entry.disease_name }}</td>
                                    <td>{{ entry.treatment_applied }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 